//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";


zone "{{ zone_domain }}" {
	allow-transfer {127.0.0.1; 172.30.0.0/16;};
	type master;
	file "/etc/bind/db.test";
};

