# FLUIDAsserts
build/
builds/

# Coverage files
.coverage

# Python bytecode
*.py[cod]
__pycache__/

# Vim cache
*.swp

# Compatibilidad hacia atras
Exploiting/

# Desconocido
.cache/

# Temporal local
tmp/
