# excluir por defecto todos los archivos
global-exclude *

# debe incluir el setup.py para que funcione el instalador
include setup.py

# incluir explicitamente solo los archivos python de src
recursive-include fluidasserts *.py
recursive-include fluidasserts/static *.lst

# incluir los archivos de configuracion del software
include conf/conf.cfg
include conf/conf.spec
include conf/README.rst
include LOCAL-VERSION

# excluir modulo que envia email cuando hay nueva version
exclude send_mail.py
