#
# Archivo que contiene las dependencias RAIZ del software en cuestion
#
# Una guia sobre la sintaxis ideal de este archivo se encuentra aqui
# http://nvie.com/posts/better-package-management/
#
# 1. En particular no debe ponerse la salida tal cual de $ pip freeze debe
#    registrarse sola la dependencia raiz
# 2. Debe indicarse la version exacta == no un rango de version
# 3. Debe indicarse como comentario al final de cada dependencia e indentado
#    alineado, el paquete que origina dicha dependencia con un comentario al
#    final de la linea.  Esto puede obtenerse de los logs de lint:
#    $ awk '/External dep/,/Raw/' build/lint/pylint.txt
# 4. Clasificar la dependencia en de construccion o ejecucion.
# 5. Agrupar las dependencias por la biblioteca que las requiere y separar los
#    grupos por cambio de linea.
# 6. Ordenar los grupos jerarquicamente (build, raiz, paquete)
# 7. Al final dejar las dependencias que no se sabe para que se necesitan y que
#    posiblemente seran eliminadas
#
# Especificaciones oficiales de este archivo pueden encontrarse en:
#    https://pip.readthedocs.io/en/1.1/requirements.html
#

#
# Build dependencies
#

invoke==0.13.0			# tasks.py make ala python
pdoc==0.3.2			# tasks.py para generar documentacion
pre-commit==0.8.2		# tasks.py para linting antes de commit
pylint==1.6.4			# tasks.py (obsoleto? importado en pre-commit)
hacking==0.11.0			# tasks.py (este trae los otros linters)
autopep8==1.2.4			# tasks.py (obsoleto? importado en pre-commit)
pydocstyle==1.0.0		# tasks.py (aun no funciona desde precommit)
pytest==2.9.2			# test
pytest-cov==2.3.1		# test

#
# Run dependencies (essential)
#

PyYAML==3.11			# fluidasserts

PyPDF2==1.26.0			# fluidasserts.pdf
Flask==0.11.1			# fluidasserts.http
requests==2.10.0		# fluidasserts.http
requests-oauthlib==0.6.2	# fluidasserts.http
cryptography==1.4		# fluidasserts.http_ssl
paramiko==2.0.2			# fluidasserts.ssh
