server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;
	listen 443 ssl;
	root /usr/share/nginx/html;
	index index.html index.htm;
	server_name {{ server_name }};
	ssl_certificate {{ cert_file }};
	ssl_certificate_key {{ key_file }};
	ssl_protocols SSLv3 TLSv1;
	ssl_ciphers "ADH-AES128-SHA:ADH-AES256-SHA:ADH-CAMELLIA128-SHA:ADH-CAMELLIA256-SHA:ADH-DES-CBC3-SHA:ADH-RC4-MD5:ADH-SEED-SHA:AES128-SHA:AES256-SHA:CAMELLIA128-SHA:ADH-SEED-SHA:AES128-SHA:AES256-SHA:CAMELLIA128-SHA:DH-DSS-AES256-SHA:DH-DSS-CAMELLIA128-SHA:DH-DSS-CAMELLIA256-SHA:DH-DSS-DES-CBC3-SHA:DH-DSS-SEED-SHA:DHE-DSS-AES128-SHA:DHE-DSS-AES256-SHA:DHE-DSS-CAMELLIA128-SHA:DHE-DSS-CAMELLIA256-SHA:DHE-DSS-DES-CBC3-SHA:DHE-DSS-RC4-SHA:DHE-DSS-SEED-SHA:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA: DHE-RSA-CAMELLIA128-SHA:DHE-RSA-CAMELLIA256-SHA";
	location / {
		try_files $uri $uri/ =404;
	}
}
